<!-- Navigation -->
@{ 
    var routeDataValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
    var controller = routeDataValues["Controller"].ToString();
    var action = routeDataValues["Action"].ToString();
}
<nav class="navbar navbar-expand-sm fixed-top navbar-light @(controller == "Home" && action == "Index" ? "" : "bg-primary")">
    <div class="container">
        <a class="navbar-brand" href = "@Url.Action("Index", "Home")">
            <strong id="navbarTitle">e-mty</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link navbarElement" href="#">empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarElement" href="#">cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarElement" href="#">calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarElement" href="/Account/Register">registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarLogin" href="/Account/Login">login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
