@using E_MTY.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<header id="loginHeader">
    <h2 class="topLeft" id="calendarTitle">Calendario</h2>
    <iframe src="https://calendar.google.com/calendar/b/2/embed?height=1000&amp;wkst=1&amp;bgcolor=%230b1129&amp;ctz=America%2FMexico_City&amp;src=YTAwODI0NzI1QGl0ZXNtLm14&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=aXRlc20ubXhfY2xhc3Nyb29tMjUyYzczOTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4ubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%2322AA99&amp;color=%23329262&amp;color=%23005c63&amp;color=%231F753C&amp;color=%231F753C" style="border-width:0; margin-top: 7%; margin-left:20%;" width="800" height="650" frameborder="0" scrolling="no"></iframe>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}