html {
    scroll-behavior: smooth;
}

#navbarBody {
    padding-top: 0;
}

#navbarLogin {
    color: #0b1129;
    border-radius: 25px;
    background: #ffc859;
    padding: 0px, 10px;
    width: 150%;
    text-align:center;
}

#navbarLogout {
    color: #0b1129;
    border-radius: 25px;
    background: #ffc859;
    padding: 0px, 10px;
    width: auto;
    text-align: center;
    margin-left: 10px;
}

#navbarTitle {
    font-size: xx-large;
    color:#ffc859;
}

.navbarElement {
    font-size: medium;
    color: #ffc859 !important;
}

.homeHeader {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('img/bg-home.png');
    background-repeat: no-repeat;
    background-position: 75% 50%;
    text-align: center;
}

.hidden-spacer {
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index:-1;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.center-bottom {
    margin: 0;
    position: absolute;
    bottom: -85%;
    left: 50%;
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.center-horizontal {
    width: 200px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
}

.topLeft {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#homeTitle {
    font-size: 1000%;
    color: white;
    font-weight: bolder;
    margin-top: 0px;
    padding-top: 0px;
    color: #ffc859;
}

#homeSubtitle {
    font-size: 200%;
    color: white;
    margin-bottom: -30px;
    padding-bottom: 0px;
    color: #ffc859;
    letter-spacing: 4px;
    margin-top: 50%;
}

#homeLogin {
    border-radius: 35px;
    color: #ffc859;
    border-color: #ffc859;
    background-color: transparent;
    padding: 10px;
    width: 55%;
    text-align: center;
    letter-spacing: 4px;
    font-size: 18px;
    margin-bottom: 35px;
    margin-top: 15%;
}

#homeArrowButton {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    margin-top: 5%;
}

#homeArrow {
    width: 75px;
    height: auto;
    align-content: center;
}

.post-container {
    margin: 50px 100px;
    border: 5px;
    overflow: auto
}

.post-thumb-left {
    float: left
}

.post-thumb-right {
    float: right;
}

.post-thumb img {
    display: inline-block
}

.post-content-left {
    margin-left: 350px
}
.post-content-right {
    margin-right: 350px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

#registerHeader {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('img/bg-register-home.png');
    background-repeat: no-repeat;
    background-position: 75% 50%;
    text-align: center;
}

.register-form {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 25px;
    height:50px;
}

#calendarHeader{
    background-image: url(img/bg-calendar.jpg);
}

#calendarTitle{
    font-weight:bold;
}